<connectionStrings>
  <add name="combugasCCConnectionString"
       connectionString="Data Source=REEMPLAZAR_SERVIDOR;Initial Catalog=REEMPLAZAR_BASE;Integrated Security=True;Connect Timeout=600"
       providerName="System.Data.SqlClient" />
  <add name="combugasWSConnectionString"
       connectionString="Data Source=REEMPLAZAR_SERVIDOR;Initial Catalog=REEMPLAZAR_BASE;Integrated Security=True;Connect Timeout=600"
       providerName="System.Data.SqlClient" />
</connectionStrings>
